.app {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.clr-logo {
    font-weight: bold;
    color: rgb(0, 120, 212);
    line-height: 0.8;
}

.app-header {
    display: flex;
    align-items: center;
    padding: 0 var(--space-small);
}

.app-header-spacer {
    flex: 1;
}

.app-header__nav {
    flex: 1;
}

.app-page-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}


/* Overlay with modules */
/* TODO: decide to leave them here or move them */

.app-page--modules,
.app-page--modules-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.app-page--modules-overlay {
    background: rgba(0, 0, 0, 0.7);
    z-index: 100;
}

.app-page--modules-wrapper {
    position:  absolute;
    z-index: 110;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 40%;
    max-height: 95%;
    max-width: 95%;

    background: #fff;
}
