.app {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.clr-logo {
    font-weight: bold;
    color: rgb(0, 120, 212);
    border-left: solid 3px rgb(0, 120, 212);
    padding: 0;
    line-height: 0.8;
    padding-left: 5px;
}

.app-header {
    display: flex;
    align-items: center;
    padding: 0 var(--space-small);
}

.app-header-spacer {
    flex: 1;,
}

.app-header__nav {
    flex: 1;
}

.app-page-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}
