.clickEffect {
    position: fixed;
    box-sizing: border-box;
    border-style: solid;
    border-color: #333;
    border-radius: 50%;
    animation: clickEffect 0.4s ease-out;
    z-index: 99999;
}

@keyframes clickEffect {
    0% {
        opacity: 1;
        width: 0.5em;
        height: 0.5em;
        margin: -0.25em;
        border-width: 0.5em;
    }
    99% {
        opacity: 0.2;
        width: 10em;
        height: 10em;
        margin: -5em;
        border-width: 0.03em;
    }
    100% {
        display: none;
    }
}
