.edgebutton {
    width: 20px;
    height: 20px;
    border: solid 1px #b1b1b7;
    background: #22323d;
    color: #b1b1b7;
    cursor: pointer;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    position: absolute;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.edgebutton:hover {
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.08);
}

.edgebutton-foreignobject body {
    background: transparent;
    width: 40px;
    height: 40px;
    min-height: 40px;
}
