:root {
    --space-middle: 15px;
    --space-small: 10px;

    --fontFamilyBase: 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
}

body {
    font-family: var(--fontFamilyBase);
}

.page {
    flex: 1;
    display: grid;
    grid-template:
        "bar       bar          bar              "
        "tools     preview      properties       "
        "actions   actions      actions          ";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr auto;
    justify-items: stretch;
}

.page-bar {
    grid-area: bar;
    height: 42px;
    padding: 0 var(--space-middle);

    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-tools {
    grid-area: tools;
    width: 300px;

    background-color: #fafafa;
}

.page-preview {
    grid-area: preview;
    column-width: 1fr;

    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.page-preview--tools {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;

    font-size: 90%;
}

.page-preview--page {
    display: block;
    background: #fff;
    min-width: 420px;
    min-height: 320px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2);

    zoom: 0.8
}

.page-properties {
    grid-area: properties;
    width: 250px;
    background-color: #fafafa;

}

.page-actions {
    grid-area: actions;
    background: #333;
    height: 250px;
    color: #eee;
}


.nav-element {
    padding: 3px 5px;
    font-size: 90%;
}

.nav-element button {
    border: none;
    padding: 5px;
    margin: 0 1px;
    cursor: pointer;
}

.nav-element--children {
    padding-left: 10px;
}

.modal-select-component {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 430px;
    max-height: 400px;
    background: #fff;
    padding: 20px;
    transform: translate(-50%, -50%);
}

.modal-select-component h4 {
    margin: 0;
    display: block;
    background: #333;
    padding: 5px 10px;
    color: #fff;
}

.modal-select-component strong {
    margin: 10px 0;
    display: block;
}

.modal-select-component-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
}

.lib-components {
    padding-left: 10px;
}

.lib-component {
    padding: 5px 0;
}

.page-breadcrumb {
    margin: 0;
}

.page-breadcrumb .ms-Link {
    font-size: 14px;
}
